.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-image: url("/flamme.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.leonardpicture {
  width: 90%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 15px;
}

.leonard {
  font-size: 4rem;
  color: #ff456e;
  text-shadow: 0 0 0px #ff456e, 0 0 5px #ff456e, 0 0 5px #ff456e;
  animation: neon 2s ease-in-out infinite alternate;
  margin-bottom: 15%;
  margin-top: 5%;
}
