.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("/leopard.png") no-repeat center center; /* Image de fond */
  background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
  color: white;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff758f;
  border: #ffe4ea;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  backdrop-filter: blur(15px);
}

.description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ff758f;
  border: #ffe4ea;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  backdrop-filter: blur(15px);
  margin-top: 20%;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #ff758f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10%;
}

.button:hover {
  background-color: #ffe4ea;
}

.hiddenButton {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent; /* Transparent pour ne pas être visible */
  position: fixed; /* Utilise fixed pour le positionner par rapport à la fenêtre */
  bottom: 20px; /* Positionne le bouton à 20px du bas de la page */
  right: 20px; /* Positionne le bouton à 20px du côté droit */
  cursor: pointer;
  z-index: 1000; /* S'assurer qu'il est au-dessus des autres éléments */
}
